---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="luftschloss">
    <section class="section" style="padding-top:56px;">
        <div class="container" style="position:relative;">
            <h2 style="font-family: Unigeo; font-size: 25px;">Datenschutzerklärung & Informationen</h2></br></br>
            Informationspflichten nach Art. 12, 13 ff. DSGVO</br></br>
            
            Wir nehmen den Schutz Ihrer persönlichen Daten ernst und halten uns an die gesetzlichen Regeln des Datenschutzes. Personenbezogene Daten werden nur im notwendigen Umfang erhoben.
            Die nachfolgende Erklärung/Information geben Ihnen einen Überblick darüber, wie wir diesen Schutz gewährleisten und welche Art von Daten zu welchem Zweck erhoben werden.
            Die Erklärung gliedert sich in:</br></br>

            A. Allgemeine Informationen zum Datenschutz
            </br></br>
            I. Name und Kontaktdaten des für die Verarbeitung Verantwortlichen sowie des Datenschutzbeauftragten
            </br></br>    
            Verantwortliche im Sinne von Art. 4 Abs. 7 EU-Datenschutz-Grundverordnung (DSGVO) ist die
            </br>
            Gieske Studios GmbH & Co. KG
            </br>
            Wilhelm-Becker-Str. 11F
            </br>
            75179 Pforzheim
            </br>
            Telefon: +49 7231 42507-0
            </br>
            Fax: +49 7231 42507-16
            </br>
            Jede betroffene Person kann sich jederzeit bei allen Fragen und Anregungen zum Datenschutz direkt an uns wenden.
            </br>
            Datenschutzbeauftragter ist……………..
            </br>
</br>
            </br>
</br>
            II. Allgemeines zur Verarbeitung von Daten
</br>
</br>
            </br>
</br>
            1. Umfang der Verarbeitung
</br>
            Wir verarbeiten Ihre personenbezogenen Daten grundsätzlich nur, soweit dies zur Bereitstellung einer funktionsfähigen Website, zur Abwicklung eines Vertrags, insbesondere zur Erbringung unserer Leistungen oder zum Empfang Ihrer Leistungen an uns erforderlich ist. Die Verarbeitung personenbezogener Daten erfolgt dabei nur wenn eine Rechtsgrundlage hierfür besteht, z.B. Ihre erteilte Einwilligung. Eine Ausnahme gilt in solchen Fällen, in denen eine vorherige Einholung einer Einwilligung aus tatsächlichen Gründen nicht möglich ist oder die Verarbeitung Ihrer personenbezogenen Daten durch eine gesetzliche Erlaubnis gestattet ist
</br>
</br>
            </br>
</br>
            2. Begriffe
</br>
            Im Folgenden informieren wir über die Verarbeitung personenbezogener Daten, insbesondere bei Nutzung unserer Website. Wir verwenden in dieser Datenschutzerklärung u.a. die folgenden Begriffe:
</br>
            </br>
</br>
            personenbezogene Daten
</br>
            Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden „betroffene Person“) beziehen. Als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind, identifiziert werden kann.
</br>
            betroffene Person
</br>
            Betroffene Person ist jede identifizierte oder identifizierbare natürliche Person, deren personenbezogene Daten von dem für die Verarbeitung Verantwortlichen verarbeitet werden.
</br>
            Verarbeitung
</br>
            Verarbeitung ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführte Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten wie das Erheben, das Erfassen, die Organisation, das Ordnen, die Speicherung, die Anpassung oder Veränderung, das Auslesen, das Abfragen, die Verwendung, die Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den Abgleich oder die Verknüpfung, die Einschränkung, das Löschen oder die Vernichtung.
</br>
            Einschränkung der Verarbeitung
</br>
            Einschränkung der Verarbeitung ist die Markierung gespeicherter personenbezogener Daten mit dem Ziel, ihre künftige Verarbeitung einzuschränken.
</br>
            Profiling
</br>
            Profiling ist jede Art der automatisierten Verarbeitung personenbezogener Daten, die darin besteht, dass diese personenbezogenen Daten verwendet werden, um bestimmte persönliche Aspekte, die sich auf eine natürliche Person beziehen, zu bewerten, insbesondere, um Aspekte bezüglich Arbeitsleistung, wirtschaftlicher Lage, Gesundheit, persönlicher Vorlieben, Interessen, Zuverlässigkeit, Verhalten, Aufenthaltsort oder Ortswechsel dieser natürlichen Person zu analysieren oder vorherzusagen.
</br>
            Pseudonymisierung
</br>
            Pseudonymisierung ist die Verarbeitung personenbezogener Daten in einer Weise, auf welche die personenbezogenen Daten ohne Hinzuziehung zusätzlicher Informationen nicht mehr einer spezifischen betroffenen Person zugeordnet werden können, sofern diese zusätzlichen Informationen gesondert aufbewahrt werden und technischen und organisatorischen Maßnahmen unterliegen, die gewährleisten, dass die personenbezogenen Daten nicht einer identifizierten oder identifizierbaren natürlichen Person zugewiesen werden.
</br>
            Verantwortlicher oder für die Verarbeitung Verantwortlicher
</br>
            Verantwortlicher oder für die Verarbeitung Verantwortlicher ist die natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet. Sind die Zwecke und Mittel dieser Verarbeitung durch das Unionsrecht oder das Recht der Mitgliedstaaten vorgegeben, so kann der Verantwortliche beziehungsweise können die bestimmten Kriterien seiner Benennung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten vorgesehen werden.
</br>
            Auftragsverarbeiter
</br>
            Auftragsverarbeiter ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die personenbezogene Daten im Auftrag des Verantwortlichen verarbeitet.
</br>
            Empfänger
</br>
            Empfänger ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, der personenbezogene Daten offengelegt werden, unabhängig davon, ob es sich bei ihr um einen Dritten handelt oder nicht. Behörden, die im Rahmen eines bestimmten Untersuchungsauftrags nach dem Unionsrecht oder dem Recht der Mitgliedstaaten möglicherweise personenbezogene Daten erhalten, gelten jedoch nicht als Empfänger.
</br>
            Dritter
</br>
            Dritter ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle außer der betroffenen Person, dem Verantwortlichen, dem Auftragsverarbeiter und den Personen, die unter der unmittelbaren Verantwortung des Verantwortlichen oder des Auftragsverarbeiters befugt sind, die personenbezogenen Daten zu verarbeiten.
</br>
            Einwilligung
</br>
            Einwilligung ist jede von der betroffenen Person freiwillig für den bestimmten Fall in informierter Weise und unmissverständlich abgegebene Willensbekundung in Form einer Erklärung oder einer sonstigen eindeutigen bestätigenden Handlung, mit der die betroffene Person zu verstehen gibt, dass sie mit der Verarbeitung der sie betreffenden personenbezogenen Daten einverstanden ist.
</br>
</br>
            </br>
</br>
            III. Rechtsgrundlage für die Verarbeitung personenbezogener Daten
</br>
            Wir verarbeiten Ihre personenbezogenen Daten nur, wenn eine Rechtsgrundlage gegeben ist, insbesondere wenn
</br>
            Sie Ihre nach Art. 6 Abs. 1 S. 1 lit. a DSGVO ausdrückliche Einwilligung dazu erteilt haben;
</br>
            dies gesetzlich zulässig und nach Art. 6 Abs. 1 S. 1 lit. b DSGVO für die Abwicklung von Vertragsverhältnissen mit Ihnen erforderlich ist;
</br>
            für den Fall, dass für die Weitergabe nach Art. 6 Abs. 1 S. 1 lit. c DSGVO eine gesetzliche Verpflichtung besteht;
</br>
            Für den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person eine Verarbeitung personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1 lit. d DSGVO als Rechtsgrundlage;
</br>
            die Verarbeitung nach Art. 6 Abs. 1 S. 1 lit. f, Art.9 Abs. 2 lit. f DSGVO zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist und kein Grund zur Annahme besteht, dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben;
</br>
            Wir übermitteln grundsätzlich keine Daten in ein Drittland (außerhalb der EU). Sollte eine solche Übermittlung notwendig werden, holen wir Ihre Einwilligung ein, falls sich nicht Ihre Zustimmung bereits aus dem Vertragsverhältnis ergibt (z.B. Leistungen/Lieferung ins Drittland).
</br>
</br>
            </br>
</br>
            IV. Datenlöschung und Speicherdauer
</br>
            Wir halten uns an die Grundsätze der Datenvermeidung und Datensparsamkeit. Wir speichern Ihre personenbezogenen Daten daher nur so lange, wie dies zur Erreichung der hier genannten Zwecke erforderlich ist oder wie es die vom Gesetzgeber vorgesehenen vielfältigen Speicherfristen vorsehen.
</br>
            Nach Fortfall des jeweiligen Zweckes bzw. Ablauf dieser Fristen werden die entsprechenden Daten routinemäßig und entsprechend den gesetzlichen Vorschriften gesperrt oder gelöscht.
</br>
            Grundsätzlich bemisst sich die Dauer der Speicherung anhand der jeweiligen gesetzlichen Aufbewahrungsfrist, z.B. handels- und steuerrechtliche Aufbewahrungsfristen nach § 257 Abs. 4 HGB, § 147 Abs. 3 AO (6 bzw. 10 Jahre). Aufbewahrungsfristen können sich auch aufgrund laufender Verjährungsfristen für Ansprüche ergeben. So verjähren zivilrechtliche Ansprüche regelmäßig in 3 Jahren, maximal in 30 Jahren. Nach Ablauf der Frist werden die entsprechenden Daten routinemäßig gelöscht, sofern sie nicht mehr zur Vertragserfüllung oder Vertragsanbahnung erforderlich sind und/oder unsererseits kein berechtigtes Interesse an der Weiterspeicherung fortbesteht.
</br>
</br>
            </br>
</br>
            V. Ihre Rechte als von der Datenverarbeitung Betroffene(r)
</br>
            Werden Ihre personenbezogenen Daten (als Besucher unserer Webseite, als Kunde oder sonstiger Geschäftspartner, als Beschäftigte/r oder Bewerber/in) durch uns verarbeitet, sind Sie betroffene Person i.S.d. DSGVO und es stehen Ihnen folgende Rechte gegenüber uns zu:
</br>
</br>
            </br>
</br>
            1. Recht auf Auskunft
</br>
            Sie haben ein Recht auf Auskunft darüber, ob und welche personenbezogenen Daten von Ihnen von uns verarbeitet werden. In diesem Fall informieren wir Sie zusätzlich über
</br>
            den Verarbeitungszweck;
</br>
            die Datenkategorien;
</br>
            die Empfänger Ihrer personenbezogenen Daten;
</br>
            die geplante Speicherdauer bzw. die Kriterien für die geplante Speicherdauer;
</br>
            Ihre weiteren Rechte;
</br>
            sofern wir Ihre personenbezogenen Daten nicht von Ihnen mitgeteilt wurden: Al-le verfügbaren Informationen über deren Herkunft;
</br>
            sofern vorhanden: das Bestehen einer automatisierten Entscheidungsfindung sowie Informationen über die involvierte Logik, die Tragweite und die angestrebten Auswirkungen der Verarbeitung.
</br>
</br>
            </br>
</br>
            2. Recht auf Berichtigung
</br>
            Sie haben ein Recht auf Berichtigung und/oder Vervollständigung, sofern Ihre von uns verarbeiteten personenbezogenen Daten unrichtig oder unvollständig sind.
</br>
</br>
            </br>
</br>
            3. Recht auf Einschränkung der Verarbeitung
</br>
            Sie haben ein Recht auf Einschränkung der Verarbeitung, sofern
</br>
            wir die Richtigkeit Ihrer von uns verarbeiteten personenbezogenen Daten über-prüfen;
</br>
            die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig ist;
</br>
            Sie Ihre von uns verarbeiteten personenbezogenen Daten nach Zweckwegfall zur Rechtsverfolgung benötigen;
</br>
            Sie Widerspruch gegen die Verarbeitung Ihrer personenbezogenen Daten eingelegt haben und wir diesen Widerspruch prüfen.
</br>
</br>
            </br>
</br>
            4. Recht auf Löschung
</br>
            Sie haben ein Recht auf Löschung, sofern
</br>
            wir Ihre personenbezogenen Daten für ihren ursprünglichen Verwendungszweck nicht mehr benötigen;
</br>
            Sie Ihre Einwilligung widerrufen und es keine weitere Rechtsgrundlage für die Verarbeitung ihrer personenbezogenen Daten gibt;
</br>
            Sie Widerspruch gegen die Verarbeitung Ihrer personenbezogenen Daten einle-gen und - sofern es sich nicht um Direktmarketing handelt - keine vorrangigen Gründe für die Weiterverarbeitung vorliegen;
</br>
            die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig ist;
</br>
            die Löschung Ihrer personenbezogenen Daten gesetzlich gefordert ist;
</br>
            Ihre personenbezogenen Daten als Minderjähriger für Dienste der Informations-gesellschaft erhoben wurden.
</br>
            </br>
</br>
            5. Recht auf Unterrichtung
</br>
            Sofern Sie Ihr Recht auf Berichtigung, Löschung oder Einschränkung der Verarbeitung geltend gemacht haben, werden wir allen Empfängern Ihrer personenbezogenen Da-ten, diese Berichtigung, Löschung der Daten oder Einschränkung der Verarbeitung mit-teilen.
</br>
</br>
            </br>
</br>
            6. Recht auf Datenübertragbarkeit
</br>
            Sie haben ein Recht Ihre von uns auf Grundlage einer Einwilligung oder zur Vertrags-durchführung verarbeiteten personenbezogenen Daten in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten und an einen anderen Verantwortlichen zu übermitteln. Sofern dies technisch machbar ist, haben Sie das Recht, dass wir diese Daten direkt an einen anderen Verantwortlichen übermitteln.
</br>
</br>
            </br>
</br>
            7. Widerspruchsrecht
</br>
            Sie haben im Fall von besonderen Gründen ein Recht auf Widerspruch gegen die Verarbeitung Ihrer personenbezogenen Daten. In diesem Fall verarbeiten wir Ihre personen-bezogenen Daten nicht mehr, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen.
</br>
            Im Fall einer Verarbeitung Ihrer personenbezogenen Daten zum Zwecke des Direktmarketings haben Sie jederzeit ein Recht auf Widerspruch.
</br>
            Sofern eine andere Rechtsgrundlage für die Verarbeitung personenbezogener Daten vorliegt, können wir trotz Ihres Widerspruchs diese Daten weiterhin verarbeiten.
</br>
</br>
            </br>
</br>
            8. Recht auf Widerruf
</br>
            Sie haben das Recht, eine uns abgegebene Einwilligung jederzeit zu widerrufen. Durch den Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt.
</br>
            Sofern eine andere Rechtsgrundlage für die Verarbeitung personenbezogener Daten vorliegt, können wir trotz Ihres Widerrufs diese Daten weiterhin verarbeiten.
</br>
</br>
            </br>
</br>
            9. Recht auf Beschwerde
</br>
            Wenn Sie der Ansicht sind, dass die Verarbeitung Ihrer personenbezogenen Daten durch uns gegen Regeln des Datenschutzes verstößt können sich bei einer Aufsichtsbehörde beschweren. In der Regel können Sie sich hierfür an die Aufsichtsbehörde Ihres üblichen Aufenthaltsortes oder Arbeitsplatzes oder unseres Sitzes wenden.
</br>
</br>
            </br>
</br>
            VI. Eingaben als Betroffene(r) nach Art. 12 ff. DSGVO
</br>
</br>
            </br>
</br>
            1. Beschreibung und Umfang der Datenverarbeitung
</br>
            Wenn Sie die vorstehenden A. V. Rechte ausüben wollen oder sonst Ansprüche gegen uns geltend machen oder sich gegen Ansprüche von uns gegen Sie wenden wollen, erfassen wir Ihre Eingaben, die Sie bei Ausübung Ihrer Rechte uns gegenüber machen.
</br>
</br>
            </br>
</br>
            2. Rechtsgrundlage der Datenverarbeitung
</br>
            Die Rechtsgrundlage für die Verarbeitung Ihrer personenbezogenen Daten im Rahmen der Bearbeitung Ihrer datenschutzrechtlichen Anfrage („Betroffeneneingabe“) ist Art. 6 Abs. 1 lit. c i.V.m. Art. 12 ff. DSGVO. Die Rechtsgrundlage für die anschließende Dokumentation der gesetzeskonformen Bearbeitung von Betroffeneneingabe ist Art. 6 Abs. 1 lit. f DSGVO.
</br>
</br>
            </br>
</br>
            3. Zweck der Datenverarbeitung
</br>
            Der Zweck der Verarbeitung Ihrer personenbezogenen Daten im Rahmen der Bearbeitung von Betroffeneneingaben ist die Beantwortung Ihrer datenschutzrechtlichen Anfrage. Die anschließende Dokumentation der gesetzeskonformen Bearbeitung der jeweiligen Betroffeneneingabe dient zur Erfüllung der gesetzlich geforderten Nachweis-pflicht, Art. 5 Abs. 2 DSGVO.
</br>
</br>
            </br>
</br>
            4. Speicherdauer
</br>
            Ihre personenbezogenen Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Im Falle der Bearbeitung von Betroffeneneingaben ist dies gemäß § 41 BDSG i.V. § 31 Abs. 2 Nr. 1 OWiG drei Jahren nach Ende des jeweiligen Vorgangs gegeben.
</br>
</br>
            </br>
</br>
            5. Widerspruchs- und Beseitigungsmöglichkeit
</br>
            Sie haben jederzeit die Möglichkeit, der Verarbeitung Ihrer personenbezogenen Daten im Rahmen der Bearbeitung von Betroffeneneingaben für die Zukunft zu widersprechen. In diesem Fall können wir Ihre datenschutzrechtliche Anfrage jedoch nicht weiterbearbeiten.
</br>
            Die Dokumentation der gesetzeskonformen Bearbeitung der jeweiligen Betroffeneneingabe ist zwingend erforderlich. Es besteht folglich für Sie keine Widerspruchsmöglichkeit.
</br>
</br>
            </br>
</br>
            VII. Verteidigung und Durchsetzung von Rechten
</br>
</br>
            </br>
</br>
            1. Rechtsgrundlage
</br>
            Die Rechtsgrundlage für die Verarbeitung Ihrer personenbezogenen Daten im Rahmen unserer Rechtsverteidigung und -durchsetzung ist Art. 9 Abs. 2 f lit. f; 6 Abs. 1 lit. f DSGVO.
</br>
</br>
            </br>
</br>
            2. Empfängerkategorien
</br>
            Innerhalb unseres Unternehmens erhalten nur diejenigen Stellen und Abteilungen personenbezogene Daten, die diese zur Erfüllung der zuvor genannten Zwecke benötigen. Daneben bedienen wir uns zum Teil unterschiedlicher Dienstleister und übermitteln Ihre personenbezogenen Daten an weitere vertrauenswürdige Empfänger soweit dies notwendig ist. Diese können z.B. sein:
</br>
            Banken
</br>
            Versicherungen
</br>
            IT-Dienstleister
</br>
            Rechtsanwälte, Gerichte, Notare, Gerichtsvollzieher
</br>
            Steuerberater
</br>
</br>
            </br>
</br>
            3. Zweck
</br>
            Der Zweck der Verarbeitung Ihrer personenbezogenen Daten im Rahmen der Rechtsverteidigung und -durchsetzung ist die Abwehr von unberechtigter Inanspruchnahme sowie die rechtliche Durchsetzung und Geltendmachung von Ansprüchen und Rechten.
</br>
</br>
            </br>
</br>
            4. Speicherdauer
</br>
            Ihre personenbezogenen Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind.
</br>
</br>
            </br>
</br>
            5. Widerspruchs- und Beseitigungsmöglichkeit
</br>
            Die Verarbeitung Ihrer personenbezogenen Daten im Rahmen der Rechtsverteidigung und -durchsetzung ist für die Rechtsverteidigung und -durchsetzung zwingend erforderlich. Es besteht folglich für Sie keine Widerspruchsmöglichkeit.
</br>
            Eine Übersicht Ihrer Rechte als Betroffene(r) finden Sie unter A. V.
</br>
</br>
     </br>       
</br>
</br>
            </br>
</br>
            B.
</br>
            Ergänzende Informationen für die Besucher unserer Webseite
</br>
</br>
            </br>
</br>
            I. Bereitstellung unserer Webseite und Erstellung von Logfiles
</br>
</br>
            </br>
</br>
            1. Beschreibung und Umfang der Datenverarbeitung
</br>
            Bei der bloß informatorischen Nutzung der Website, also wenn Sie sich nicht registrieren oder uns anderweitig Informationen übermitteln, erheben wir nur die personenbezogenen Daten, die Ihr Browser an unseren Server übermittelt. Wenn Sie unsere Website betrachten möchten, erheben wir die folgenden Daten, die für uns technisch erforderlich sind, um Ihnen unsere Website anzuzeigen und die Stabilität und Sicherheit zu gewährleisten.
</br>
            IP-Adresse
</br>
            Datum und Uhrzeit der Anfrage
</br>
            Zeitzonendifferenz zur Greenwich Mean Time (GMT)
</br>
            Inhalt der Anforderung (konkrete Seite)
</br>
            Zugriffsstatus/HTTP-Statuscode
</br>
            jeweils übertragene Datenmenge
</br>
            Webseiten, von der die Anforderung kommt
</br>
            Webseiten, die vom System des Nutzers über unsere Website aufgerufen werden
</br>
            Art des Browsers
</br>
            Betriebssystem (z.B. Windows 10, Linux) und dessen Oberfläche (z.B. X-Windows)
</br>
            Sprache und Version der Browsersoftware.
</br>
</br>
            </br>
</br>
            Die Daten werden in den Logfiles unseres Systems gespeichert. Nicht hiervon betroffen sind die IP-Adressen des Nutzers oder andere Daten, die die Zuordnung der Daten zu einem Nutzer ermöglichen. Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten des Nutzers findet nicht statt.
</br>
            Unser Webauftritt kann Links zu Webseiten anderer Anbieter enthalten oder Inhalte anderer Webseiten einbinden. Sobald Sie auf diese Verknüpfung klicken, kann der jeweilige Webseitenbetreiber Informationen darüber erhalten, dass Sie die Seite aufgerufen haben. Die vorliegende Datenschutzerklärung gilt ausschließlich für unsere Webseite. Wir haben keinen Einfluss auf die erhobenen und verarbeiteten Daten, noch sind uns der volle Umfang der Datenerhebung, die Zwecke der Verarbeitung, die Speicherfristen verlinkter Webseiten bekannt. Wir müssen uns darauf veranlassen, dass die dortigen Datenschutzerklärungen umfassend und richtig sind
</br>
</br>
            </br>
</br>
            2. Rechtsgrundlage für die Datenverarbeitung
</br>
            Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles ist Art. 6 Abs. 1 lit. f DSGVO.
</br>
</br>
            </br>
</br>
            3. Zweck der Datenverarbeitung
</br>
            Die genannten Daten werden durch uns zu folgenden Zwecken verarbeitet:
</br>
            Gewährleistung eines reibungslosen Verbindungsaufbaus der Website,
</br>
            Gewährleistung einer komfortablen Nutzung unserer Website,
</br>
            Auswertung der Systemsicherheit und -stabilität sowie
</br>
            zu weiteren administrativen Zwecken,
</br>
            Erstellung eines Serverlogs (Löschung i.d.R. nach 7 Tagen)
</br>
            In keinem Fall verwenden wir die erhobenen Daten zu dem Zweck, Rückschlüsse auf Ihre Person zu ziehen soweit nachfolgend nicht anderes dargestellt ist.
</br>
</br>
            </br>
</br>
            4. Dauer der Speicherung
</br>
            Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Im Falle der Erfassung der Daten zur Bereitstellung der Website ist dies der Fall, wenn die jeweilige Sitzung beendet ist. Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens sieben Tagen der Fall. Eine darüberhinausgehende Speicherung ist möglich. In diesem Fall werden die IP-Adressen der Nutzer gelöscht oder verfremdet, sodass eine Zuordnung des aufrufenden Clients nicht mehr möglich ist.
</br>
</br>
            </br>
</br>
            5. Widerspruchs- und Beseitigungsmöglichkeit
</br>
            Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung der Daten in Logfiles ist für den Betrieb der Internetseite zwingend erforderlich. Es besteht folglich seitens des Nutzers keine Widerspruchsmöglichkeit.
</br>
</br>
            </br>
</br>
            II. Verwendung von Cookies
</br>
</br>
            </br>
</br>
            1. Beschreibung und Umfang der Datenverarbeitung
</br>
            Zusätzlich zu den zuvor genannten Daten werden bei Ihrer Nutzung unserer Website Cookies auf Ihrem Rechner gespeichert. Bei Cookies handelt es sich um kleine Textdateien, die auf Ihrer Festplatte dem von Ihnen verwendeten Browser zugeordnet gespeichert werden und durch welche der Stelle, die den Cookie setzt (hier durch uns), bestimmte Informationen zufließen. Cookies können keine Programme ausführen oder Viren auf Ihren Computer übertragen. Wir setzen Cookies ein, um unsere Website nutzerfreundlicher zu gestalten. Einige Elemente unserer Internetseite erfordern es, dass der aufrufende Browser auch nach einem Seitenwechsel identifiziert werden kann.
</br>
            Wir verwenden auf unserer Website darüber hinaus technisch nicht notwendige Cookies, die eine Analyse des Surfverhaltens der Nutzer ermöglichen. Zu deren Erläuterung verweisen wir auf unseren Cookie Consent Box beim Start der Webseite.
</br>
</br>
            </br>
</br>
            2. Rechtsgrundlage für die Datenverarbeitung
</br>
            Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung technisch notweniger Cookies ist Art. 6 Abs. 1 lit. f DSGVO.
</br>
            Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung von Cookies zu Analysezwecken ist bei Vorliegen einer diesbezüglichen Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO.
</br>
            In unserem Cookie-Banner auf der Startseite unserer Webseite können Sie diese Einwilligung erteilen.
</br>
</br>
            </br>
</br>
            3. Zweck der Datenverarbeitung
</br>
            Der Zweck der Verwendung technisch notwendiger Cookies ist, die Nutzung von Websites für die Nutzer zu vereinfachen. Einige Funktionen unserer Internetseite können ohne den Einsatz von Cookies nicht angeboten werden. Für diese ist es erforderlich, dass der Browser auch nach einem Seitenwechsel wiedererkannt wird.
</br>
            Die durch technisch notwendige Cookies erhobenen Nutzerdaten werden nicht zur Erstellung von Nutzerprofilen verwendet.
</br>
            Die Verwendung der (technisch nicht notwendigen) Analyse-Cookies erfolgt zu dem Zweck, die Qualität unserer Website und ihre Inhalte zu verbessern. Durch die Analyse-Cookies erfahren wir, wie die Website genutzt wird und können so unser Angebot stetig optimieren.
</br>
            Auf diese Weise können folgende Daten übermittelt werden:
</br>
            Eingegebene Suchbegriffe
</br>
            Häufigkeit von Seitenaufrufen
</br>
            Inanspruchnahme von Website-Funktionen
</br>
            In diesen Zwecken liegt auch unser berechtigtes Interesse in der Verarbeitung der personenbezogenen Daten nach Art. 6 Abs. 1 lit. f DSGVO.
</br>
</br>
            </br>
</br>
            4. Dauer der Speicherung
</br>
            Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an unsere Seite übermittelt. Daher haben Sie als Nutzer auch die volle Kontrolle über die Verwendung von Cookies. Durch eine Änderung der Einstellungen in Ihrem Internetbrowser können Sie die Übertragung von Cookies deaktivieren oder einschränken. Bereits gespeicherte Cookies können jederzeit gelöscht werden. Dies kann auch automatisiert erfolgen. Werden Cookies für unsere Website deaktiviert, können möglicherweise nicht mehr alle Funktionen der Website vollumfänglich genutzt werden. Ihre personenbezogenen Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Verarbeitung nicht mehr erforderlich sind; dies ist insbesondere im Fall des Verlassens der Webseite gegeben.
</br>
</br>
            </br>
</br>
            5. Widerspruchs- und Beseitigungsmöglichkeit
</br>
            Eine Übersicht der auf unserer Webseite eingesetzten Cookies finden Sie in der Cookie Consent Box beim Start der Webseite. Cookies werden im Erlaubnisfalle auf Ihrem Rechner gespeichert und von diesem an unsere Webseite übermittelt. Daher haben Sie die volle Kontrolle über die Verwendung von Cookies. Durch eine Änderung der Einstellungen in Ihrem Browser können Sie die Übertragung von Cookies deaktivieren oder einschränken. Bereits gespeicherte Cookies können Sie jederzeit löschen. Dies kann auch automatisiert erfolgen. Werden Cookies für unsere Webseite deaktiviert, können möglicherweise nicht mehr alle Funktionen der Webseite vollumfänglich genutzt werden. Technisch notwendige Cookies sind teilweise nicht deaktivierbar.
</br>
            Die Übermittlung von Flash-Cookies lässt sich nicht über die Einstellungen Ihres Browsers unterbinden. Hierzu sind entsprechende Änderungen der Einstellung des Adobe Flash Players erforderlich.
</br>
</br>
            </br>
</br>
            III. Kontaktformular und E-Mail-Kontakt
</br>
</br>
            </br>
</br>
            1. Beschreibung und Umfang der Datenverarbeitung
</br>
            Auf unserer Internetseite sind Kontaktformulare vorhanden bzw. unsere E-Mail-Adresse angegeben, welche für die elektronische Kontaktaufnahme genutzt werden kann. Nimmt ein Nutzer diese Möglichkeit wahr, so werden die in der Eingabemaske/der E-Mail eingegebenen Daten an uns übermittelt und gespeichert. Diese Daten sind:
</br>
            Vorname, Nachname
</br>
            E-Mailadresse
</br>
            Telefonnummer
</br>
            Grund der Kontaktaufnahme (Anliegen)
</br>
            Bestätigung der Kenntnisnahme der Datenschutzerklärung
</br>
            Im Zeitpunkt der Absendung der Nachricht werden zudem folgende Daten gespeichert:
</br>
            Die IP-Adresse des Nutzers
</br>
            Datum und Uhrzeit der Kontaktaufnahme
</br>
            Für die Verarbeitung der Daten wird im Rahmen des Absendevorgangs Ihre Einwilligung eingeholt und auf diese Datenschutzerklärung verwiesen.
</br>
            Alternativ ist eine Kontaktaufnahme über die bereitgestellte E-Mail-Adresse möglich. In diesem Fall werden die mit der E-Mail übermittelten personenbezogenen Daten des Nutzers gespeichert.
</br>
            Es erfolgt in diesem Zusammenhang keine Weitergabe der Daten an Dritte. Die Daten werden ausschließlich für die Verarbeitung der Konversation verwendet.
</br>
</br>
            </br>
</br>
            2. Rechtsgrundlage für die Datenverarbeitung
</br>
            Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO.
</br>
            Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer Übersendung einer E-Mail übermittelt werden, ist Art. 6 Abs. 1 lit.a u lit. f DSGVO. Zielt der E-Mail-Kontakt auf den Abschluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 lit. b DSGVO.
</br>
</br>
            </br>
</br>
            3. Zweck der Datenverarbeitung
</br>
            Die Verarbeitung der personenbezogenen Daten aus der Eingabemaske dient uns allein zur Bearbeitung der Kontaktaufnahme. Im Falle einer Kontaktaufnahme per E-Mail liegt hieran auch das erforderliche berechtigte Interesse an der Verarbeitung der Daten.
</br>
            Die sonstigen während des Absendevorgangs verarbeiteten personenbezogenen Daten dienen dazu, einen Missbrauch des Kontaktformulars zu verhindern und die Sicherheit unserer informationstechnischen Systeme sicherzustellen.
</br>
            </br>
</br>
            4. Dauer der Speicherung
</br>
            Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Für die personenbezogenen Daten aus der Eingabemaske des Kontaktformulars und diejenigen, die per E-Mail übersandt wurden, ist dies dann der Fall, wenn die jeweilige Konversation mit dem Nutzer beendet ist. Beendet ist die Konversation dann, wenn sich aus den Umständen entnehmen lässt, dass der betroffene Sachverhalt abschließend geklärt ist.
</br>
            Die während des Absendevorgangs zusätzlich erhobenen personenbezogenen Daten werden spätestens nach einer Frist von sieben Tagen gelöscht.
</br>
            Bitte beachten Sie, dass längere Speicher-/Aufbewahrungsfristen sich aus gesetzlichen Vorgaben ergeben können (oben A. IV.).
</br>
</br>
            </br>
</br>
            5. Widerspruchs- und Beseitigungsmöglichkeit
</br>
            Der Nutzer hat jederzeit die Möglichkeit, seine Einwilligung zur Verarbeitung der personenbezogenen Daten zu widerrufen.
</br>
            Nimmt der Nutzer per E-Mail mit uns auf, so kann er der Speicherung seiner personenbezogenen Daten jederzeit widersprechen. In einem solchen Fall kann die Konversation nicht fortgeführt werden.
</br>
            Alle personenbezogenen Daten, die im Zuge der Kontaktaufnahme gespeichert wurden, werden in diesem Fall gelöscht, sofern wir nicht aufgrund einer gesetzlichen Grundlage zur Speicherung (siehe oben A. IV.) verpflichtet sind.
</br>
            Eine Übersicht Ihrer Rechte als Betroffene(r) finden Sie unter A. V.
</br>
</br>
            </br>
</br>
            IV. Newsletter
</br>
            Beschreibung und Umfang der Datenverarbeitung
</br>
            Sie können unseren Newsletter abonnieren, mit dem wir Sie über unsere aktuellen interessanten Angebote informieren. Nimmt ein Nutzer diese Möglichkeit wahr, so werden die in der Eingabemaske eingegeben Daten (Name, E-Mail-Adresse, Telefonnummer, Inhalt der Nachricht) an uns übermittelt und gespeichert.
</br>
</br>
            </br>
</br>
            2. Rechtsgrundlage
</br>
            Rechtsgrundlage für die Verarbeitung Ihrer personenbezogenen Daten im Rahmen der Newsletter-Versendung ist die Ihrerseits erklärte Einwilligung nach Art. 6 Abs. 1 lit. a EU-DSGVO.
</br>
</br>
            </br>
</br>
            3. Zweck
</br>
            Die Verarbeitung Ihrer personenbezogenen Daten dient dazu, den Newsletter an Sie zu versenden. Der Zweck der Verarbeitung Ihrer personenbezogenen Daten im Rahmen der Newsletter-Versendung ist die Übersendung von Informationen, Angeboten und gegebenenfalls die Förderung des Absatzes durch den Verkauf von Waren oder Dienstleistungen.
</br>
</br>
            </br>
</br>
            4. Speicherdauer
</br>
            Ihre personenbezogenen Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Verarbeitung nicht mehr erforderlich sind. Ihre personenbezogenen Daten werden demnach solange gespeichert, bis Sie sich von unserem Newsletter abgemeldet haben.
</br>
</br>
            </br>
</br>
            5. Widerspruchs- und Beseitigungsmöglichkeit
</br>
            Sie können die Einwilligung zum Erhalt des Newsletters jederzeit widerrufen oder den in jedem Newsletter enthaltenen Abmelde-Link nutzen, um einem weiteren Erhalt des Newsletters zu widersprechen.
</br>
</br>
            </br>
</br>
            V. Google reCAPTCA
</br>
</br>
            </br>
</br>
            1. Beschreibung und Umfang der Datenverarbeitung
</br>
            Um für ausreichend Datensicherheit bei der Übermittlung von Formularen Sorge zu tragen, verwenden wir in bestimmten Fällen den Service reCAPTCHA des Unternehmens Google Inc. Damit wird überprüft, ob die Dateneingabe in dem Kontaktformular auf einer Website durch einen Menschen oder durch ein automatisiertes Programm (Spam Bot) erfolgt. Die Prüfung beginnt automatisch, sobald der Websitebesucher nach der Eingabe die Website betritt. Zur Analyse werden erfasst:
</br>
</br>
            </br>
</br>
            IP-Adresse,
</br>
            alle Cookies, die Google über die letzten 6 Monate gesetzt hat,
</br>
            Spracheinstellungen des Browsers,
</br>
            Plug-ins des Browsers,
</br>
            Java-Scripte,
</br>
            Verweildauer auf der Website und Mausbewegungen oder Touch-Pad-Bewegungen und zusammen mit der Cookie-ID an Google weitergeleitet
</br>
            Weitere Informationen erhalten Sie unter https://www.google.com/intl/de/policies/privacy/
</br>
</br>
           </br> 
</br>
            2.  Empfänger
</br>
            Empfänger der Daten ist Google Ireland ltd., Barrow Street, Dublin 4, Irland.
</br>
</br>
            </br>
</br>
            3. Rechtsgrundlage für die Datenverarbeitung
</br>
            Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO, durch Eingabe in das reCAPTCA Formular.
</br>
            Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer Übersendung einer E-Mail übermittelt werden, ist Art. 6 Abs. 1 lit. f DSGVO. Zielt der E-Mail-Kontakt auf den Abschluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 lit. b DSGVO.
</br>
</br>
            </br>
</br>
            4. Zweck der Datenverarbeitung
</br>
            Die Verarbeitung der personenbezogenen Daten aus der Eingabemaske dient der Datensicherheit bei der Übermittlung von Formulardaten Sorge zu tragen und SPAM sowie automatisierte Zugriffe von Bots zu verhindern.
</br>
</br>
            </br>
</br>
            5. Dauer der Speicherung
</br>
            Durch das Einfügen von reCAPTCHA werden Ihre Daten auf einen Google-Server übertragen. Über die Dauer der Speicherung macht Google keine Angaben. Dafür gelten die abweichenden Datenschutzbestimmungen der Firma Google, siehe https://developers.google.com/recaptcha/ und https://www.google.com/intl/de/policies/privacy/ .
</br>
</br>
            </br>
</br>
            6. Widerspruchs- und Beseitigungsmöglichkeit
</br>
            Daten die an Google weitergegeben wurden, können von Ihnen nur dort beantragt werden zu löschen, siehe https://developers.google.com/recaptcha/ und https://www.google.com/intl/de/policies/privacy/.
</br>
</br>
            </br>
</br>
            VI. Einsatz von Google Analytics
</br>
</br>
            </br>
</br>
            1. Beschreibung und Umfang der Datenverarbeitung
</br>
            Unsere Webseite benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die uns eine Analyse der Benutzung der Webseite durch Sie ermöglichen.
</br>
            Diese Webseite verwendet Google Analytics mit der Erweiterung „_anonymizeIp()“. Dadurch werden IP-Adressen gekürzt weiterverarbeitet, eine Personenbeziehbarkeit kann damit ausgeschlossen werden. Soweit den über Sie erhobenen Daten ein Personenbezug zukommt, wird dieser also sofort ausgeschlossen und die personenbezogenen Daten damit umgehend gelöscht.
</br>
            Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.
</br>
</br>
            </br>
</br>
            2. Rechtsgrundlage
</br>
            Rechtsgrundlage für die Nutzung von Google Analytics ist Art. 6 Abs. 1 S. 1 lit. f DS-GVO.5.
</br>
</br>
            </br>
</br>
            3. Zweck
</br>
            Wir nutzen Google Analytics, um die Nutzung unserer Webseite analysieren und regelmäßig verbessern zu können. Wir verwenden Google Analytics zudem für eine geräteübergreifende Analyse von Besucherströmen, die über eine User-ID durchgeführt wird. Sie können in Ihrem Kundenkonto unter „Meine Daten“, „persönliche Daten“ die geräteübergreifende Analyse Ihrer Nutzung deaktivieren.
</br>
            Über die gewonnenen Statistiken können wir unser Angebot verbessern und für Sie als Nutzer interessanter ausgestalten. Für die Ausnahmefälle, in denen personenbezogene Daten in die USA übertragen werden, hat sich Google dem EU-US Privacy Shield unterworfen, https://www.privacyshield.gov/EU-US-Framework.
</br>
</br>
            </br>
</br>
            4. Empfänger
</br>
            Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Webseite werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Webseite wird Google diese Informationen benutzen, um Ihre Nutzung der Webseite auszuwerten, um Reports über die Webseiten-Aktivitäten zusammenzustellen und um weitere mit der Webseiten-Nutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Webseiten-Betreiber zu erbringen
</br>
</br></br>
            </br>

            5. Widerspruchs- und Beseitigungsmöglichkeit
</br>
            Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Webseite vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Webseite bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: http://tools.google.com/dlpage/gaoptout?hl=de.
</br>
</br>
            </br>
</br>
            6. weitere Informationen
</br>
            Informationen des Drittanbieters: Google Dublin, Google Ireland Ltd., Gordon House, Barrow Street, Dublin 4, Ireland, Fax: +353 (1) 436 1001. Nutzerbedingungen: http://www.google.com/analytics/terms/de.html, Übersicht zum Datenschutz: http://www.google.com/intl/de/analytics/learn/privacy.html, sowie die Datenschutzerklärung: http://www.google.de/intl/de/policies/privacy.
</br>
</br>
            </br>
</br>
            VII. Google Maps
</br>
</br>
            </br>
</br>
            1. Beschreibung der Datenverarbeitung
</br>
            Wir nutzen Angebot von Google Maps. Dadurch können wir Ihnen interaktive Karten direkt in der Webseite anzeigen und ermöglichen Ihnen die komfortable Nutzung der Karten-Funktion.
</br>
</br>
            </br>
</br>
            2. Rechtsgrundlage
</br>
            Die Daten im Zusammenhang mit den folgenden Maßnahmen werden auf Grundlage des Art. 6 Abs. 1 S. 1 lit. f DSGVO erheben.
</br>
</br>
            </br>
</br>
            3. Daten, Empfänger
</br>
            Durch den Besuch auf der Webseite erhält Google die Information, dass Sie die entsprechende Unterseite unserer Webseite aufgerufen haben. Zudem werden die unter § 3 dieser Erklärung genannten Daten übermittelt. Dies erfolgt unabhängig davon, ob Google ein Nutzerkonto bereitstellt, über das Sie eingeloggt sind, oder ob kein Nutzerkonto besteht. Wenn Sie bei Google eingeloggt sind, werden Ihre Daten direkt Ihrem Konto zugeordnet. Wenn Sie die Zuordnung mit Ihrem Profil bei Google nicht wünschen, müssen Sie sich vor Aktivierung des Buttons ausloggen. Google speichert Ihre Daten als Nutzungsprofile und nutzt sie für Zwecke der Werbung, Marktforschung und/oder bedarfsgerechten Gestaltung seiner Webseite. Eine solche Auswertung erfolgt insbesondere (selbst für nicht eingeloggte Nutzer) zur Erbringung von bedarfsgerechter Werbung und um andere Nutzer des sozialen Netzwerks über Ihre Aktivitäten auf unserer Webseite zu informieren. Ihnen steht ein Widerspruchsrecht zu gegen die Bildung dieser Nutzerprofile, wobei Sie sich zur Ausübung dessen an Google richten müssen.
</br>
</br>
            </br>
</br>
            4. Weitere Informationen
</br>
            Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch den Plugin-Anbieter erhalten Sie in den Datenschutzerklärungen des Anbieters. Dort erhalten Sie auch weitere Informationen zu Ihren diesbezüglichen Rechten und Einstellungsmöglichkeiten zum Schutze Ihrer Privatsphäre: http://www.google.de/intl/de/policies/privacy. Google verarbeitet Ihre personenbezogenen Daten auch in den USA und hat sich dem EU-US Privacy Shield unterworfen, https://www.privacyshield.gov/EU-US-Framework.
</br>
</br>
            </br>
</br>
            VIII. Google Fonts
</br>
</br>
            </br>
</br>
            1. Beschreibung und Umfang
</br>
            Die Verarbeitung Ihrer personenbezogenen Daten im Rahmen der Einbindung von Google Fonts dient uns zur einheitlichen Darstellung von Schriften auf unserer Webseite.
</br>
</br>
            </br>
</br>
            2. Rechtsgrundlage
</br>
            Rechtsgrundlage für die Verarbeitung Ihrer personenbezogenen Daten im Rahmen der Einbindung von Google Fonts ist Art. 6 Abs. 1 lit. f) EU-DSGVO.
</br>
</br></br>
            </br>

            3. Speicherdauer
</br>
            Ihre personenbezogenen Daten werden gelöscht, sobald sie für unsere zuvor benannten Zwecke nicht mehr benötigt werden. In unserem Fall ist dies nach 12 Monaten gegeben.
</br>
</br>
            </br>
</br>
            4. Widerspruchs- und Beseitigungsmöglichkeit
</br>
            Wenn Sie nicht möchten, dass Ihre personenbezogenen Daten von Google Fonts erfasst werden, können Sie in Ihrem Browser Einstellungen vornehmen (z.B. durch die Installation von Plugins oder Add-Ons), um die Übermittlung Ihrer personenbezogenen Daten an die Server von Google zu unterbinden. Wenn Ihr Browser Google Fonts nicht unterstützt, erfolgt kein Zugriff auf die Server von Google und der Text unserer Webseite wird in der Standardschrift Ihres Systems angezeigt.
</br>
            Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter:
            developers.google.com/fonts/faq bzw. unter www.google.com/intl/de-DE/privacy/
</br>
</br>
            </br>
</br>
            IX. Youtube
</br>
</br>
            </br>
</br>
            1. Beschreibung
</br>
            Wir haben YouTube-Videos in unser Online-Angebot eingebunden, die auf http://www.YouTube.com gespeichert sind und von unserer Website aus direkt abspielbar sind. Diese sind alle im „erweiterten Datenschutz-Modus“ eingebunden, d. h. dass keine Daten über Sie als Nutzer an YouTube übertragen werden, wenn Sie die Videos nicht abspielen. Erst wenn Sie die Videos abspielen, werden Daten übertragen. Auf diese Datenübertragung haben wir keinen Einfluss.
</br>
</br></br></br>
            

            2. Rechtsgrundlage
</br>
            Rechtsgrundlage für die Verarbeitung Ihrer personenbezogenen Daten im Rahmen der Einbindung von Google Fonts ist Art. 6 Abs. 1 lit. a) u. f) EU-DSGVO.
</br>
</br>
            </br>
</br>
            3. erhobene Daten, Empfänger
</br>
            Durch den Besuch auf der Website erhält YouTube die Information, dass Sie die entsprechende Unterseite unserer Website aufgerufen haben. Zudem werden die unter B. I. dieser Erklärung genannten Daten übermittelt. Dies erfolgt unabhängig davon, ob YouTube ein Nutzerkonto bereitstellt, über das Sie eingeloggt sind, oder ob kein Nutzerkonto besteht. Wenn Sie bei Google eingeloggt sind, werden Ihre Daten direkt Ihrem Konto zugeordnet. YouTube speichert Ihre Daten als Nutzungsprofile und nutzt sie für Zwecke der Werbung, Marktforschung und/oder bedarfsgerechten Gestaltung seiner Website. Eine solche Auswertung erfolgt insbesondere (selbst für nicht eingeloggte Nutzer) zur Erbringung von bedarfsgerechter Werbung und um andere Nutzer des sozialen Netzwerks über Ihre Aktivitäten auf unserer Website zu informieren.
</br>
</br>
            </br>
</br>
            4. Widerspruchs- und Beseitigungsmöglichkeit
</br>
            Wenn Sie die Zuordnung mit Ihrem Profil bei YouTube nicht wünschen, müssen Sie sich vor Aktivierung des Buttons ausloggen. Ihnen steht ein Widerspruchsrecht zu gegen die Bildung dieser Nutzerprofile, wobei Sie sich zur Ausübung dessen an YouTube richten müssen.
</br></br></br></br>

            

            5. weitere Informationen
</br>
            Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch YouTube erhalten Sie in der Datenschutzerklärung. Dort erhalten Sie auch weitere Informationen zu Ihren Rechten und Einstellungsmöglichkeiten zum Schutze Ihrer Privatsphäre:
</br>
            https://www.google.de/intl/de/policies/privacy .
</br>
            Google verarbeitet Ihre personenbezogenen Daten auch in den USA und hat sich dem EU-US-Privacy-Shield unterworfen,
</br>
            https://www.privacyshield.gov/EU-US-Framework .
</br>
</br>
            </br>
</br>
</br>
            </br>
</br>
            Ihre Luftschloss RA GmbH</br>
        </div>
    </section>   
</BaseLayout>