---
const {
  imgsrc = "/images/hero.jpg",
  gradsrc= "/mask/wolke_ls.jpg",
  alt = "",
} = Astro.props;
---

<div class="mask-wrap" aria-label={alt}>
  <!-- gradient blob behind -->
  <div class="mask-blur" aria-hidden="true"></div>
  <!-- main img front -->
  <div class="mask-media" >
    <img src={imgsrc} alt={alt} />
  </div>
</div>

<style>
  .mask-wrap{
    position: relative;
    width: min(760px, 100%);
    margin: auto;
    padding: 32px 0;
    z-index: 2;
  }

  .mask-blur{
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;

    width: 120%;
    aspect-ratio: 16 / 7;

    background: linear-gradient(200deg, #F4A3B4 0%, #A3B8CA 100%);
    opacity: 0.8;

    filter: blur(26px);

    transform-origin: 50% 50%;
    transform:translateX(30%) translateY(0%) scale(1.2);

    -webkit-mask-image: url("/mask/blob-mask-blur.png");
    mask-image: url("/mask/blob-mask-blur.png");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }


  .mask-media{
    width: 100%;
    aspect-ratio: 16 / 7;
    position: relative;

    transform-origin: 50% 100%;
    transform: translateY(0%);

    -webkit-mask-image: url("/mask/blob-mask.png");
    mask-image: url("/mask/blob-mask.png");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }

  .mask-media img{
    position:absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    display:block;
    inset: 0;

    z-index: 2;

    transform-origin: 50% 100%;
    transform: translateY(0%);
}

@supports (animation-timeline: view()) {
  .mask-media-blur{
    transform: translateY(50%);
    animation: blurParallax linear both;
    animation-timeline: view();
    animation-range: entry 0% exit 100%;
  }

  .mask-media{
    transform: translateY(50%);
    animation: mediaParallax linear both;
    animation-timeline: view();
    animation-range: entry 0% exit 100%;
  }

  .mask-media img{
    transform: translateY(10%);
    animation: imgParallax linear both;
    animation-timeline: view();
    animation-range: entry -100% exit 0%;
  }

@keyframes imgParallax{
  from { transform: translateY(0%) }
  to   { transform: translateY(0%) }
  }

@keyframes mediaParallax{
  from { transform: translateY(-20%) }
  to   { transform: translateY(25%) }
  }

@keyframes blurParallax{
  from { transform: translateX(30%) translateY(-30%) scale(1.5) }
  to   { transform: translateX(30%) translateY(45%) scale(1.5) }
  }

@media (max-width: 760px){
  .mask-media{
    width: 90%;
  }
}
</style>
