---
import '../styles/global.css';
---
<footer class="section" style="padding: 20px 0;">
  <div class="container" style="display:flex; justify-content:space-between; align-items:center;">
    <div class="ls_logo" style="font-size: clamp(34px, 6vw, 63px);">luftschloss.</div>
    <div style="display:flex; gap:clamp(30px, 4vw, 70px);font-size: clamp(15px, 4vw, 25px);">
      <a href="#contact">Kontakt</a>
      <a href="/impressum">Impressum</a>
      <a href="/agb">AGB</a>
    </div>
  </div>
</footer>