---
import "../styles/global.css";

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>luftschloss</title>
    <meta name="description" content="Luftschloss Design Agency based in Pforzheim" />
    <link rel="canonical" href="https://www.luftschloss.online/" />
  </head>
  <body>
    <div class="custom-cursor site-wide">
      <div class="pointer"></div>
    </div>

    <Nav />

    <main id="top" class="page">
      <slot />
    </main>

    <Footer />
    <script type="module" src="/scripts/header.js"></script>
    <script type="module" src="/scripts/anim.js"></script>
  </body>
</html>